<!doctype html>
<%# TODO pass lang in config%>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title><%= title %></title>
    <meta name="generator" content="Leter">
    <meta name="description" content="<%= description %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="preconnect" href="https://cdn.jsdelivr.net/" crossorigin>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>

    <link id="favicon" rel="icon" type="image/x-icon" href="<%= Leter::Asset.local(:favicon).url %>">

    <%# TODO merge into inline css?%>
    <%# TODO way to test this to make sure its outputing correctly %>
    <link rel="stylesheet" href="<%= Leter::Asset.new(:normalize).url %>">

    <style><%= config.theme.try(:to_css) %></style>

    <%# TODO minify https://github.com/Vasfed/csso-rails %>
    <link rel="stylesheet" href="<%= config.css_url %>">

    <link rel="stylesheet" href="<%= config.theme.try(:font_url) %>">

    <%= Leter::Code.new(config).script if has_code %>

    <%= Leter::ImageSlider.new.script if has_image_slider %>
  </head>

  <body id="<%= config.theme.try(:name) %>">
    <section>
      <%= body%>
    </section>
  </body>

  <%# #TODO inject google analytics like code above %>
  <% if config.google_analytics %>
    <script>
      window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
      ga('create', "<%= config.google_analytics %>", 'auto');
      ga('send', 'pageview');
    </script>
    <script async src='https://www.google-analytics.com/analytics.js'></script>
  <% end %>
</html>

